<section class="contenedor">
    <div class="d-md-flex justify-content-md-between align-items-md-center">
        <p class="my-0 mx-3">
            <a class="text-decoration-none text-dark" [routerLink]="['/home']">DevWebCamp</a>
        </p>
        <nav>
            <ul class="my-0 mx-3 list-unstyled d-md-flex gap-md-4">
                <li><a class="text-decoration-none text-dark" [routerLink]="['/registro']" routerLinkActive="activo">Registro</a></li>
                <li><a class="text-decoration-none text-dark" [routerLink]="['/login']" routerLinkActive="activo">Iniciar Sesión</a></li>
                <li><a class="boton text-decoration-none text-dark"  (click)="logout()" routerLinkActive="activo">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <p>Octubre 5-6 - 2023</p>
        <p>En Línea - Presencial</p>
        <a class="btn btn-info" [routerLink]="['/registro']" routerLinkActive="activo">Comprar Pase</a>
    </div>
    
    
</section>