<section class="contenedor">
    <div class="header2 d-flex">
        <a [routerLink]="['/home']" routerLinkActive="activo">
            <h2>DevWebCamp</h2>
        </a>
        <!--
        <nav>
            <form  [formGroup]="miForm" (ngSubmit)="cargarDatos()">
                <input type="submit" value="Cerrar Sesión">
            </form>
        </nav>
        -->
    </div>
</section>
<section class="contenedor">
    <aside>
        <nav class="links d-flex">
            <a [routerLink]="['/admin/dashboard']" routerLinkActive="activo">
                <i class="fa-solid-fa-house"></i>
                <span>Inicio</span>
            </a>
            <a [routerLink]="['/admin/ponentes']" routerLinkActive="activo">
                <i class="fa-solid-fa-microphone"></i>
                <span>Ponentes</span>
            </a>
            <a [routerLink]="['/admin/eventos']" routerLinkActive="activo">
                <i class="fa-solid-fa-calendar"></i>
                <span>Eventos</span>
            </a>
            <a [routerLink]="['/admin/registrados']" routerLinkActive="activo">
                <i class="fa-solid-fa-users"></i>
                <span>Registrados</span>
            </a>
            <a [routerLink]="['/admin/regalos']" routerLinkActive="activo">
                <i class="fa-solid-fa-gift"></i>
                <span>Regalos</span>
            </a>
        </nav>
    </aside>
    <h2>{{titulo}}</h2>
    <section>
        @if(usuariosRegistrados.length===0){
        <div>No hay usuarios registrados</div>
        }@else{

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Plan</th>
                </tr>
            </thead>
            <tbody>
                @for(usuario of usuariosRegistrados_paginados;track usuario.usuario_id){
                <tr>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellido}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.paquete_nombre}}</td>
                </tr>
                }

            </tbody>
        </table>
        <!-- Añadir paginación -->
        <div class="paginacion">
            <button (click)="paginaAnterior()" [disabled]="paginaActual === 1">
                ⬅ Anterior
            </button>

            <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>

            <button (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas">
                Siguiente ➡
            </button>
        </div>
        }
    </section>
</section>