<section>
    <h1>Speakers</h1>
    <h2>Conoce a nuestros expertos de DevWebCamp</h2>
    <div class="cards">
        <div class="card">
            <img src="/img/imagenes/speakers/0ce9a8963fdd9ddb8514c7b2c08cc4e7.png" alt="imagen speaker">
            <h3>Nico Fraga</h3>
            <p>Buenos Aires, Argentina</p>
            <div class="spans">
                <span>PHP</span>
                <span>Laravel</span>
                <span>CSS</span>
                <span>HTML</span>
            </div>
        </div>
        <div class="card">
            <img src="/img/imagenes/speakers/0ce9a8963fdd9ddb8514c7b2c08cc4e7.png" alt="imagen speaker">
            <h3>Nico Fraga</h3>
            <p>Buenos Aires, Argentina</p>
            <div class="spans">
                <span>PHP</span>
                <span>Laravel</span>
                <span>CSS</span>
                <span>HTML</span>
            </div>
        </div>
        <div class="card">
            <img src="/img/imagenes/speakers/0ce9a8963fdd9ddb8514c7b2c08cc4e7.png" alt="imagen speaker">
            <h3>Nico Fraga</h3>
            <p>Buenos Aires, Argentina</p>
            <div class="spans">
                <span>PHP</span>
                <span>Laravel</span>
                <span>CSS</span>
                <span>HTML</span>
            </div>
        </div>
        <div class="card">
            <img src="/img/imagenes/speakers/0ce9a8963fdd9ddb8514c7b2c08cc4e7.png" alt="imagen speaker">
            <h3>Nico Fraga</h3>
            <p>Buenos Aires, Argentina</p>
            <div class="spans">
                <span>PHP</span>
                <span>Laravel</span>
                <span>CSS</span>
                <span>HTML</span>
            </div>
        </div>
    </div>
</section>