.cards{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}
.card{
    flex:0 0 31%;
    padding-left: 1rem;
    padding-bottom: 2rem;
}
.spans{
    display: flex;
    gap:1rem;
}
.spans span{
    background-color: blue;
    color:white;
    padding: 0.5rem;
    border-radius: 15%;
}