<section>
    <h1>Speakers</h1>
    <h2>Conoce a nuestros expertos de DevWebCamp</h2>
    <div class="cards">
        @for(ponente of ponentes; track ponente.id){
        <div class="card">
            <picture>
                    <source [srcset]="imagesUrl + ponente.imagen + '.webp'" type="image/webp">
                    <source [srcset]="imagesUrl + ponente.imagen + '.png'" type="image/png">
                    <img [src]="imagesUrl + ponente.imagen + '.png'" alt="Imagen Speaker">
                </picture>
            <h3>{{ponente.nombre}} {{ponente.apellido}}</h3>
            <p>{{ponente.ciudad}}, {{ponente.pais}}</p>
            <div class="spans">
                {{ponente.tags.split(',')}}
                @for(tag of ponente.tags.split(','); track tag){
                    @if(tag.length>0){
                        <span>{{tag}}</span>
                    }
                }
            </div>
        </div>
        }
    </div>
</section>