.card{
    padding: 2rem;
    height: fit-content;
}
ul{
    padding-left: 0;
}
h3{
    padding-bottom: 1rem;
}
span{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
@media screen and (min-width: 600px) {
    .contenedor-cards {
        display: flex;
        gap: 2rem;
    }
}