<div class="contenedor">
    <div class="seccion">
        <section>
            <h1>{{titulo}}</h1>
            <h2>Talleres y conferencias dictados por expertos en Desarrollo Web</h2>

            @for(categoria of categorias; track categoria.id){
            <div [class]="categoria.nombre">
                <h3>{{categoria.nombre}}</h3>
                <div class="dias">
                    @for(dia of dias; track dia.id){
                    <h4>{{dia.nombre}}</h4>
                    <app-cards [evSeleccionados]="eventosSeleccionados" [rutaImg]="imagesUrl" [categoria]="categoria.id"
                        [dia]="dia.id" (idEmitir)="recogerId($event)"></app-cards>
                    }

                </div>
            </div>
            }
        </section>
    </div>
    <div class="seccion registros">
        <h2 class="encabezado">Registro</h2>
        <div class="registros">
            @if(eventosSeleccionados.length===0){
                <p>No hay eventos, añade hasta 5 del lado izquierdo</p>
            }
            @for(evento of eventosSeleccionados; track evento.id){
            <div class="registro">
                <h3>{{evento.nombre}}</h3>
                <button (click)="eliminarEvento(evento.id)">X</button>
            </div>
            }
        </div>
        <div class="regalos">
            <div [class.text-danger]="tipo === false" [class.text-success]="tipo === true">{{mensaje}}</div>
            <form class="formulario" [formGroup]="miForm" (ngSubmit)="cargarDatos($event)">
                <span>Selecciona un regalo</span> 
                <select formControlName="idRegalo">
                    <option value="">-- Selecciona tu regalo --</option>
                    @for(regalo of regalos; track regalo.id){
                    <option [value]="regalo.id">{{regalo.nombre}}</option>
                    }
                </select>
                <input type="submit" class="formulario__submit" value="Registrarme" [disabled]="!miForm.valid">

            </form>
        </div>
    </div>
</div>