h1,h2{
    text-align: center;
}
h1{
    margin-top: 3rem;
}
h2{
    margin-bottom: 2rem;
}
.boletos{
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
}
.boleto{
    padding: 2rem;
    border: 1px solid blue;
    background-color: blue;
    color:white;
    border-radius: 1rem;
    width: 50%;
}
h4{
    font-size: 2rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
}
p.tipo{
    font-size: 1rem;
    text-transform: uppercase;
}
p{
    font-size: 1rem;
}