<section class="contenedor">
    <div class="header2 d-flex">
        <a [routerLink]="['/home']" routerLinkActive="activo">
            <h2>DevWebCamp</h2>
        </a>
        <!--
        <nav>
            <form  [formGroup]="miForm" (ngSubmit)="cargarDatos()">
                <input type="submit" value="Cerrar Sesión">
            </form>
        </nav>
        -->
    </div>
</section>
<section class="contenedor">
    <aside>
        <nav class="links d-flex">
            <a [routerLink]="['/admin/dashboard']" routerLinkActive="activo">
                <i class="fa-solid-fa-house"></i>
                <span>Inicio</span>
            </a>
            <a [routerLink]="['/admin/ponentes']" routerLinkActive="activo">
                <i class="fa-solid-fa-microphone"></i>
                <span>Ponentes</span>
            </a>
            <a [routerLink]="['/admin/eventos']" routerLinkActive="activo">
                <i class="fa-solid-fa-calendar"></i>
                <span>Eventos</span>
            </a>
            <a [routerLink]="['/admin/registrados']" routerLinkActive="activo">
                <i class="fa-solid-fa-users"></i>
                <span>Registrados</span>
            </a>
            <a [routerLink]="['/admin/regalos']" routerLinkActive="activo">
                <i class="fa-solid-fa-gift"></i>
                <span>Regalos</span>
            </a>
        </nav>
    </aside>
    <h2>{{titulo}}</h2>
    <div class="cont1 d-flex">
        <a class="btn btn-primary btn-derecha" [routerLink]="['/admin/ponentes/crear']">
            <i class="fa-solid fa-circle-plus"></i>
            Añadir Evento
        </a>
    </div>

</section>