<section class="contenedor">
    <div class="header2 d-flex">
        <a [routerLink]="['/home']" routerLinkActive="activo">
            <h2>DevWebCamp</h2>
        </a>
        <!--
        <nav>
            <form  [formGroup]="miForm" (ngSubmit)="cargarDatos()">
                <input type="submit" value="Cerrar Sesión">
            </form>
        </nav>
        -->
    </div>
</section>
<section class="contenedor">
    <aside>
        <nav class="links d-flex">
            <a [routerLink]="['/admin/dashboard']" routerLinkActive="activo">
                <i class="fa-solid-fa-house"></i>
                <span>Inicio</span>
            </a>
            <a [routerLink]="['/admin/ponentes']" routerLinkActive="activo">
                <i class="fa-solid-fa-microphone"></i>
                <span>Ponentes</span>
            </a>
            <a [routerLink]="['/admin/eventos']" routerLinkActive="activo">
                <i class="fa-solid-fa-calendar"></i>
                <span>Eventos</span>
            </a>
            <a [routerLink]="['/admin/registrados']" routerLinkActive="activo">
                <i class="fa-solid-fa-users"></i>
                <span>Registrados</span>
            </a>
            <a [routerLink]="['/admin/regalos']" routerLinkActive="activo">
                <i class="fa-solid-fa-gift"></i>
                <span>Regalos</span>
            </a>
        </nav>
    </aside>
    <h2>{{titulo}}</h2>
    <div class="cont1 d-flex">
        <a class="btn btn-primary btn-derecha" [routerLink]="['/admin/eventos/crear']">
            <i class="fa-solid fa-circle-plus"></i>
            Añadir Evento
        </a>
    </div>
    <div [class.text-danger]="tipo === false" [class.text-success]="tipo === true">{{mensaje}}</div>
    <div class="tabla">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Categoria</th>
                    <th>Día</th>
                    <th>Hora</th>
                    <th>Ponente</th>
                    <th>Disponibles</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if(arrayEventos.length===0){
                <tr>
                    <td colspan="7">No hay resultados</td>
                </tr>
                }@else{

                @for(evento of eventosPaginados; track evento.id){
                <tr>
                    <td>{{evento.nombre}}</td>
                    <td>{{evento.descripcion}}</td>
                    <td>{{evento.categoria_nombre}}</td>
                    <td>{{evento.dia_nombre}}</td>
                    <td>{{evento.hora_hora}}</td>
                    <td>{{evento.ponente_nombre}} {{evento.ponente_apellido}}</td>
                    <td>{{evento.disponibles}}</td>
                    <td>
                        <button>Editar</button>
                        <button>Eliminar</button>
                    </td>
                </tr>
                }

                }
            </tbody>
        </table>
        <!-- Añadir paginación -->
        <div class="paginacion">
            <button (click)="paginaAnterior()" [disabled]="paginaActual === 1">
                ⬅ Anterior
            </button>

            <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>

            <button (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas">
                Siguiente ➡
            </button>
        </div>
    </div>

</section>