<section class="contenedor">
    <a [routerLink]="['/registro']" routerLinkActive="activo">DevWebCamp</a>
    <nav class="d-flex justify-content-md-between">
        <a [routerLink]="['/main']" routerLinkActive="activo">Evento</a>
        <a [routerLink]="['/paquetes']" routerLinkActive="activo">Paquetes</a>
        <a [routerLink]="['/workshops-conferencias']" routerLinkActive="activo">Workshops / Conferencias</a>
        <a [routerLink]="['/registro']" routerLinkActive="activo">Comprar Pase</a>
    </nav>
</section>