<section>
    <div class="contenedor">
        <img class="imagen-transparente" src="/img/seminario.jpg" alt="imagen resumen">
        <div class="elementos2 superior">
            <div class="elemento">
                <p>18</p>
                <p>speakers</p>
            </div>
            <div class="elemento">
                <p>10</p>
                <p>conferencias</p>
            </div>
        </div>
        <div class="elementos2 inferior">
            <div class="elemento">
                <p>10</p>
                <p>workshops</p>
            </div>
            <div class="elemento">
                <p>500</p>
                <p>asistentes</p>
            </div>

        </div>
    </div>
</section>