.contenedor{
    position: relative;
    line-height: 3rem;
    margin: 4rem 0;
}
.superior{
    position: absolute;
    top: 5rem;
    left: 10rem;
}
.inferior{
    position: absolute;
    top: 20rem;
    left: 10rem;
}
.imagen-transparente {
    opacity: 0.5;
    filter: sepia(20%) hue-rotate(200deg) saturate(120%);
}
p{
    font-size: 4rem;
}
.elementos2{
    display: flex;

}
.elemento{
    color:white;
    font-weight: bold;
    flex: 0 0 50%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
}