<section class="contenedor">
    <div class="header2 d-flex">
        <a [routerLink]="['/home']" routerLinkActive="activo">
            <h2>DevWebCamp</h2>
        </a>
        <!--
        <nav>
            <form [formGroup]="miForm" (ngSubmit)="cerrarSesion()">
                <input type="submit" value="Cerrar Sesión">
            </form>
        </nav>
        -->
    </div>
</section>
<section class="contenedor">
    <aside>
        <nav class="links d-flex">
            <a [routerLink]="['/admin/dashboard']" routerLinkActive="activo">
                <i class="fa-solid-fa-house"></i>
                <span>Inicio</span>
            </a>
            <a [routerLink]="['/admin/ponentes']" routerLinkActive="activo">
                <i class="fa-solid-fa-microphone"></i>
                <span>Ponentes</span>
            </a>
            <a [routerLink]="['/admin/eventos']" routerLinkActive="activo">
                <i class="fa-solid-fa-calendar"></i>
                <span>Eventos</span>
            </a>
            <a [routerLink]="['/admin/registrados']" routerLinkActive="activo">
                <i class="fa-solid-fa-users"></i>
                <span>Registrados</span>
            </a>
            <a [routerLink]="['/admin/regalos']" routerLinkActive="activo">
                <i class="fa-solid-fa-gift"></i>
                <span>Regalos</span>
            </a>
        </nav>
    </aside>
    <h2>{{titulo}}</h2>
    <div class="cont1 d-flex">
        <a class="btn btn-primary btn-derecha" [routerLink]="['/admin/ponentes/crear']">
            <i class="fa-solid fa-circle-plus"></i>
            Añadir Ponente
        </a>
    </div>
    <div [class.text-danger]="tipo === false" [class.text-success]="tipo === true">{{mensaje}}</div>
    <div class="tabla">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Ubicación</th>
                <th>Acciones</th>
            </tr>

            @if(arrayPonentes.length>0){
            @for(item of ponentesPaginados; track item.id){
            <tr>
                <td>{{item.nombre}} {{item.apellido}}</td>
                <td>{{item.ciudad}}, {{item.pais}}</td>
                <td>
                    <a [routerLink]="[`/admin/ponentes/editar/${item.id}`]" routerLinkActive="activo">Editar</a>
                    <button type="button" (click)="eliminar($event,item.id)">Eliminar</button>
                </td>
            </tr>
            }
            }

        </table>
        <!-- Añadir paginación -->
        <div class="paginacion">
            <button (click)="paginaAnterior()" [disabled]="paginaActual === 1">
                ⬅ Anterior
            </button>

            <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>

            <button (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas">
                Siguiente ➡
            </button>
        </div>
    </div>

</section>