<main class="contenedor auth">
    <h2 class="auth__heading">{{titulo}}</h2>
    <p class="auth__texto">Inserta tu nuevo password</p>
    
    <div [class.text-danger]="mensaje === 'El usuario no está registrado'" [class.text-success]="mensaje !== 'El usuario no está registrado'">{{mensaje}}</div>
    <form class="formulario" [formGroup]="miForm" (ngSubmit)="cargarDatos()">
        <div class="formulario__campo">
            <label for="password" class="formulario__label">Nuevo Password</label>
            <input type="password" class="formulario__input" placeholder="Tu Nuevo Password" id="password" formControlName="password">
            @if (password?.touched && password?.hasError('required')) {
                <div class="text-danger">
                    El password es obligatorio.
                </div>
            }@else if (password?.touched && password?.hasError('minLength')) {
                <div class="text-danger">
                    El password tiene que tener al menos 3 carácteres.
                </div>
            }
        </div>
        
        <input type="submit" class="formulario__submit" value="Guardar Password" [disabled]="!miForm.valid">
    </form>

    <div class="acciones flex">
        <a class="acciones__enlace" [routerLink]="['/login']" routerLinkActive="activo">¿Ya tienes cuenta? Iniciar Sesión</a>
        <a class="acciones__enlace" [routerLink]="['/registro']" routerLinkActive="activo">¿Aún no tienes una cuenta? Obtener una</a>
    </div>
</main>
