<main class="auth">
    <h2>{{titulo}}</h2>
    <p>Tu cuenta de DevWebCamp</p>
    <div [class.text-danger]="mensaje !== 'CUENTA CONFIRMADA CORRECTAMENTE'" [class.text-success]="mensaje === 'CUENTA CONFIRMADA CORRECTAMENTE'">{{mensaje}}</div>

    @if(mensaje==='CUENTA CONFIRMADA CORRECTAMENTE'){
    <div class="my-0 mx-3 list-unstyled d-md-flex gap-md-4">
        <a class="text-decoration-none text-dark" [routerLink]="['/login']" routerLinkActive="activo">Iniciar
            Sesión</a>
    </div>
    }


</main>