<section>
    <h1>{{titulo}}</h1>
    <h2>Elige tu plan</h2>
    <div [class.text-danger]="tipo === false" [class.text-success]="tipo === true">{{mensaje}}</div>
    <div class="contenedor-cards">
        <div class="card">
            <h3>Pase Gratis</h3>
            <p>Acceso virtual a DevWebCamp</p>
            <span>$0</span>
            <form [formGroup]="miForm" (ngSubmit)="cargarDatos()">
                <button class="btn btn-primary gratis" type="submit">Inscripción Gratis</button>
            </form>
        </div>
        <div class="card">
            <h3>Pase Presencial</h3>
            <ul>
                <li>Acceso Presencial a DevWebCamp</li>
                <li>Pase por 2 días</li>
                <li>Acceso a Talleres y conferencias</li>
                <li>Acceso a las grabaciones</li>
                <li>Camisa del evento</li>
                <li>Comida y bebida</li>
            </ul>
            <span>$199</span>
        </div>
        <div class="card">
            <h3>Pase Virtual</h3>
            <ul>
                <li>Acceso Virtual a DevWebCamp</li>
                <li>Pase por 2 días</li>
                <li>Enlace a Talleres y conferencias</li>
                <li>Acceso a las grabaciones</li>
            </ul>
            <span>$49</span>
        </div>

    </div>
</section>