.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    height: fit-content;
}
ul{
    padding-left: 0;
}
h3{
    padding-bottom: 1rem;
}
span{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button.gratis{
    margin: 1rem 0;
}
@media screen and (min-width: 600px) {
    .contenedor-cards {
        display: flex;
        gap: 2rem;
    }
}