<section>
    <h1>{{titulo}}</h1>
    <h2>Conoce sobre la conferencia más importante de Latinoamerica</h2>
    <div class="contenedor-info">
        <div class="contenedor-imagen">
            <picture>
                <!--<source srcset="" type="image/jpg">-->
                <img loading="lazy" src="/img/devwebcamp.jpg" alt="Foto sobre DevWebCamp">
            </picture>
        </div>
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio vitae qui tempora obcaecati delectus sunt
                nobis et a aliquam maiores nulla eum nisi blanditiis dolores cumque doloremque laboriosam, culpa sequi.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis impedit esse laboriosam quod, quos
                reiciendis dolore natus corporis in? Quo laborum quibusdam ut fugit impedit blanditiis id similique
                necessitatibus doloremque?</p>
        </div>
        

    </div>


</section>