/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Staatliches&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 2rem;
    font-family: "Outfit", sans-serif;
    font-size: 1em;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
.contenedor{

    max-width: 1200px;
    margin:2em auto;
}
a{
    text-decoration: none;
    color:black;
}
ul{
    list-style-type: none;
}