.mini-card{
    background-color: blue;
    color:white;
    padding: 1rem;
    border-radius: 5%;
}

.green{
    background-color: green;
}
img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white;
}

.info-ponente{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.card{
    flex:0 0 100%;
    border: none;
    
}
@media screen and (min-width: 360px) {
  .cards{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
  }
  .card{
    flex:0 0 46%;
    border: none;
    
}

}
@media screen and (min-width: 768px) {
  .cards{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
  }
  .card{
    flex:0 0 23%;
    border: none;
    
}

}