<div class="cards">
    @for(evento of eventos; track evento.id){
    <div class="card">
        <p class="hora">{{evento.hora_hora}}</p>
        <div [class]="(evento.categoria_id===4)?' green mini-card ':'mini-card '">
            <h5>{{evento.nombre}}</h5>
            <p>{{evento.descripcion}}</p>
            <div class="info-ponente">
                <img src="{{rutaImg}}{{evento.ponente_imagen}}.webp" alt="imagen ponente">
                <p class="nombre">{{evento.ponente_nombre}} {{evento.ponente_apellido}}</p>
            </div>
            <button type="button" [id]="evento.id" class="btn btn-primary agregar" [disabled]="evento.disponibles==0">{{evento.disponibles==0 ? "Agotado " : "Agregar - " + evento.disponibles + " Disponibles"}}</button>
        </div>
    </div>
    }

</div>